{{define "digitalAssets"}}
<h3 style="text-align:center;">Data from the Digital Assets</h3>
<table>
<tr><th>Update Count</th>
<th>Product ID</th>
<th>Price</th>
<th>Quantity</th>
<th>Value</th>
<th>Downticks</th>
<th>Upticks</th>
<th>Trend</th>
<th>EmaShort</th>
<th>EmaLong</th>
<th>Downticks Delta</th>
<th>Upticks Delta</th></tr>
{{range $_, $da := . }}
<tr><td>{{$da.UpdateCount}}</td>
<td>{{$da.ProductID}}</td>
<td>${{printf "%.2f" $da.Price}}</td>
<td>{{$da.Quantity}}</td>
<td>${{printf "%.2f" $da.Value}}</td>
<td>{{$da.DTicks.Len}}</td>
<td>{{$da.UTicks.Len}}</td>
<td>{{$da.Trend.Front.Value}}</td>
<td>{{printf "%.3f" $da.EmaShort.Result}}</td>
<td>{{printf "%.3f" $da.EmaLong.Result}}</td>
<td>{{printf "%.3f" $da.DTicksDelta}}</td>
<td>{{printf "%.3f" $da.UTicksDelta}}</td></tr>
{{end}}
</table>
{{end}}