{{define "header"}}
<html>
    <link rel="stylesheet" href="public/main.css">
    <meta http-equiv="refresh" content="10" />
    <head>
        <title>Merlin's Crypto Trading Magic</title>
    </head>
<body>
    <h1 style="text-align:center;">Merlin is analyzing these Crypto Currencies</h1>
    <hr/>
{{end}}