<!--https://github.com/joncalhoun/form-->

<html>
<link rel="stylesheet" href="public/main.css">
<meta http-equiv="refresh" content="30" />
<head>
<title>Merlin's Crypto Trading Magic</title>
</head>
<body>
<h1 style="text-align:center;">Merlin is analyzing these Crypto Currencies</h1>
<hr/>
<table>
<tr><th colspan="9">Digital Asset daily data fields</th></tr>
<tr><th>Update<br/>Count</th>
<th>Product<br/>ID</th>
<th>Price</th>
<th>Trend</th>
<th>RSI</th>
<th>Chaikin<br/>Money Flow</th>
<th>MACD<br/>Result</th>
<th>MACD<br/>Diff</th>
<th>MACD<br/>Histogram</th></tr>
{{range $_, $da := .Assets }}
<tr><td style = "text-align: center;">{{$da.DailyCount}}</td>
<td style = "text-align: center;">{{$da.ProductID}}</td>
<td style = "text-align: center;">${{printf "%.2f" $da.Price}}</td>
<td style = "text-align: center;">{{$da.DailyTrend.Value}}</td>
<td style = "text-align: center;">{{printf "%.3f" $da.DailyRsi.Value}}</td>
<td style = "text-align: center;">{{printf "%.3f" $da.DailyChaikin.Value}}</td>
<td style = "text-align: center;">{{printf "%.3f" $da.DailyMacd.Result}}</td>
<td style = "text-align: center;">{{printf "%.3f" $da.DailyMacd.Diff}}</td>
<td style = "text-align: center;">{{printf "%.3f" $da.DailyMacd.Histogram}}</td></tr>
{{end}}
</table>

<table>
    <tr><th colspan="12">Digital Asset hourly data fields</th></tr>
    <tr><th>Update<br/>Count</th>
        <th>Product<br/>ID</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Tick<br/>Status</th>
        <th>Trend</th>
        <th>RSI</th>
        <th>Chaikin<br/>Money Flow</th>
        <th>MACD<br/>Result</th>
        <th>MACD<br/>Diff</th>
        <th>MACD<br/>Histogram</th></tr>
{{range $_, $da := .Assets }}
    <tr><td style = "text-align: center;">{{$da.UpdateCount}}</td>
        <td style = "text-align: center;">{{$da.ProductID}}</td>
        <td style = "text-align: center;">${{printf "%.2f" $da.Price}}</td>
        <td style = "text-align: center;">{{printf "%.3f" $da.Quantity}}</td>
        <td style = "text-align: center;">${{printf "%.2f" $da.Value}}</td>
        <td style = "text-align: center;">{{$da.TickStatus}}</td>
        <td style = "text-align: center;">{{$da.HourlyTrend.Value}}</td>
        <td style = "text-align: center;">{{printf "%.3f" $da.HourlyRsi.Value}}</td>
        <td style = "text-align: center;">{{printf "%.3f" $da.HourlyChaikin.Value}}</td>
        <td style = "text-align: center;">{{printf "%.3f" $da.HourlyMacd.Result}}</td>
        <td style = "text-align: center;">{{printf "%.3f" $da.HourlyMacd.Diff}}</td>
        <td style = "text-align: center;">{{printf "%.3f" $da.HourlyMacd.Histogram}}</td></tr>
{{end}}
    <tfoot>
    <tr><td colspan="12">USD account balance is ${{printf "%.2f" .Usd}}, and total with currencies at latest values is ${{printf "%.2f" .Sum}}
    </td></tr>
    </tfoot>
</table>

<table width="60%">

<tr><th colspan="5">Real Time Analysis</th></tr>
<tr><th colspan="1" width="5%">Buy Rule</th><th align="left" colspan="4" width="30%">{{$.BuyRuleCriteria}}</th></tr>
<tr><th colspan="1" width="5%">Sell Rule</th><th align="left" colspan="4" width="30%">{{$.SellRuleCriteria}}</th></tr>
<tr><th colspan="1">Product</th><th colspan="1">MACD<br/>Crossover</th><th colspan="1">Trend</th><th colspan="1">RSI</th><th colspan="1">Chaikin</th></tr>
{{range $_, $da := .Assets }}
	<tr><td style = "text-align: center;">{{$da.ProductID}}</td>
		<td style = "text-align: center;">{{$da.HourlyMacdCrossover}}</td>
		<td style = "text-align: center;">{{$da.HourlyTrend.Value}}</td>
		<td style = "text-align: center;">{{$da.HourlyRsiValue}}</td>
		<td style = "text-align: center;">{{$da.HourlyChaikinValue}}</td>
	</tr>
{{end}}
</table>

<table>

<tr><th colspan="3">Snap Trade</th></tr>

<tr><form action="/sell" method="POST" ><td>Limit Order to Sell</td>
<td><input type="text" name="Das"></input></td>
<td><input type="submit" value="Sell"></td>
</form></tr>

<tr><form action="/buy" method="POST"><td>Limit Order to Buy</td>
<td><input type="text" name="Dab"></input></td>
<td><input type="submit" value="Buy"></td>
</form></tr>

</table>

<h3 style="text-align:center;">Previous Trades</h3>
<table>
<tr>
<th>ID</th>
<th>Product ID</th>
<th>Side</th>
<th>Quantity</th>
<th>Price</th>
<th>Fees</th>
<th>Value</th>
<th>Time</th>
<th>Report</th>
</tr>
{{range $_, $tr := .Trades }}
<tr><td>{{$tr.ID}}</td>
<td>{{$tr.ProductID}}</td>
<td>{{$tr.Side}}</td>
<td>{{printf "%.2f" $tr.Quant}}</td>
<td>${{printf "%.2f" $tr.Price}}</td>
<td>${{printf "%.2f" $tr.FillFees}}</td>
<td>${{printf "%.2f" $tr.ExecutedValue}}</td>
<td>{{$tr.Tradetime.Format "Jan 02, 2006 15:04:05 EST"}}</td>
<td>{{$tr.Report}}</td></tr>
{{end}}
</table>

<footer>
<hr/>
<p>&copy; 2018 Tessaract Inc.  All rights reserved.</p>
</footer>
<!-- jquery & Bootstrap JS -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
