{{define "trading"}}
<h3 style="text-align:center;">Trades and Recommendations</h3>
<table>
<tr>
<th>Product ID</th>
<th>Side</th>
<th>Type</th>
<th>Price</th>
<th>Quantity</th>
<th>Post Only</th>
<th>Time in Force</th>
<th>Execute</th>
</tr>
<tr>
<td><select name="das">
<option value="BCB">BCB</option>
<option value="BTC">BTC</option>
<option value="ETH">ETH</option>
<option value="LTC">LTC</option>
</select></td>

<td><select name="side">
<option value="Buy">Buy</option>
<option value="Sell">Sell</option>
</select></td>

<td><select name="type">
<option value="Limit">Limit</option>
<option value="Market">Market</option>
</select></td>

<td><input type="text"/></td>

<td><input type="text"/></td>

<td><select name="po">
<option value="false">false</option>
<option value="true">true</option>
</select></td>

<td><select name="tif">
<option value="GTC">GTC</option>
<option value="IOC">IOC</option>
</select></td>
<td><button type="button">Send</button></td>
</tr>
</table>
{{end}}